.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background-color: #edeff4;
    color: #333;
    font-weight: bold;
    flex: 1;
    text-align: center;
  }
  
  .tab.active {
    background-color: #007bff;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  